html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  font-family: source-sans-pro, 'Helvetica Neue', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: white;
  background-image: url(assets/bg.svg);
  background-repeat: no-repeat;
  background-size: 4800px 848px;
  background-position: center top;
}
body * {
  box-sizing: border-box;
}

